# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/

# IDE
.idea/

# Data (generated at runtime)
data/raw/*.json
data/warehouse/*.db

# Logs
logs/

# AWS
awscliv2.zip
aws/

# OS
.DS_Store
Thumbs.db